<template>
  <div class="cart">
    Shopping Cart
    <ul>
      <li v-for="(list, index) in cart" :key="index">
        {{ list.name }}
        <span v-on:click="removeCart(index)" class="btn btnRemove">X</span>
      </li>
    </ul>
  </div>
</template>
<script>
  export default{
    name: 'Cart',
    props: {
      cart: ''
    },
    methods:{
      removeCart(id){
        this.cart.splice(id,1)
      },
    }
  }
</script>
<style scoped>
  .cart{
    width: 400px;
    border: 1px solid green;
    border-radius: 5px;
  }
</style>
