<template>
  <div class="description">
    <ul class="headerDescription">
      <li v-for='title in attributes'>
        {{title.name}}:
      </li>
    </ul>
    <ul class="productDescription">
      <li v-for='description in attributesIdValue'>
        <span  v-for='desc in description[".value"].split("|")[index]'>{{desc}}</span>
        <!--<span v-for='(prodDescription, id) in products' :key='id'></span> -->
      </li>
    </ul>
  </div>
</template>
<script>
  export default{
    name: 'ProductDescription',
    props: {
      attributes: {},
      attributesIdValue: {},
      index: ''
    }
  }
</script>
<style scoped>
  .description{
    display: flex;
  }
  .description ul li{
    font-weight: bold;
    padding: 5px 0 0 5px;
  }
  .headerDescription{
    font-size: 12px;
    font-weight: bold;
  }
  .productDescription{
    font-size: 12px;
    font-weight: normal;
  }
</style>
