<template>
  <div class="singleProd">
    <div class="ttt">
      <div class="prod">
        <img :src="url + products[index].image" :alt="products[index].name">
        <p>{{products[index].name}}</p>
        <p :style="products[index].price.type == 'special' ? priceSmall : priceBigger">{{products[index].price.value}} </p>
      </div>
    </div>
    <ProductDescription :attributes='attributes' :attributesIdValue='attributesIdValue' :index='index'></ProductDescription>
  </div>
</template>

<script>
  import ProductDescription from './ProductDescription'

  export default {
    name: 'ProductName',
    data() {
      return{
        priceSmall: {
          color: '#000',
          fontSize: '14px',
          background: 'yellow',
          padding: '10px 0',
          fontWeight: 'bold'
        },
        priceBigger: {
          color: '#fff',
          fontSize: '14px',
          background: 'navy',
          padding: '10px 0'
        }
      }
    },
    methods:{
      onClickChild(value){
        console.log(`tu jestem ${!value}`)
         !value
      }
    },
    props: {
      products: {},
      attributes: {},
      attributesIdValue: {},
      url: '',
      index: ''
    },
    components: {
      ProductDescription
    }
  }
</script>
<style scoped>
  .singleProd{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin:0 10px 10px;
  }
  .ttt{
    border: 1px solid #000;
    border-radius: 5px;
  }
  .prod{
    display: flex;
    flex-direction: column;
  }
  .prod img{
    width: 94px;
    height: 200px;
    margin: 0 auto;
  }
</style>
