<template>
  <div class="wishList">
    Wish List
    <ul>
      <li v-for="(list, index) in wList" :key="index">
        {{ list.name }}
        <span v-on:click="removeWL(index)" class="btn btnRemove">X</span>
      </li>
    </ul>
  </div>
</template>
<script>
  export default{
    name: 'WishList',
    props: {
      wList: ''
    },
    methods:{
      removeWL(id){
        this.wList.splice(id,1)
      },
    }
  }
</script>
<style scoped>
  .wishList{
    width: 400px;
    border: 1px solid blue;
    border-radius: 5px;
    margin-right: 20px;
  }
</style>
