<template>
  <div id="app">
    <div class="container">
      <WishList :wList='wList'></WishList>
      <Cart :cart='cart'></Cart>
    </div>

    <div class="container">
      <div v-for='(prod, index) in products' :key='index'>
        <div class="btnContent">
          <button type="button" class="btn btnCart" v-on:click='addCart(index)'>CART</button>
          <button type="button" class="btn btnWishList" v-on:click='addWL(index)'>WISHLIST</button>
          <button type="button" class="btn btnRemove" v-on:click='removeProduct(index)'>X</button>
        </div>
        <ProductName :products='products' :url='url' :index='index' :attributes='attributes' :attributesIdValue='attributesIdValue'></ProductName>
      </div>
    </div>

  </div>
</template>

<script>
/* Firebase configuration   */
import firebase from 'firebase'
import ProductName from './components/ProductName'
import WishList from './components/WishList'
import Cart from './components/Cart'

const config = {
  apiKey: "AIzaSyAoMGikl8vb24s4ydLKk-LyLUjmrBl-ZWE",
  authDomain: "products-3068f.firebaseapp.com",
  databaseURL: "https://products-3068f.firebaseio.com",
  projectId: "products-3068f",
  storageBucket: "products-3068f.appspot.com",
  messagingSenderId: "813951891201"
}

const firebaseApp = firebase.initializeApp(config)
const db = firebaseApp.database()

let prodRef = db.ref('products')
let attRef = db.ref('attributes')
let attValueRef = db.ref('attributesIdValue')
/* FC end  */

export default {
  name: 'App',
  data(){
    return {
        url: 'static/productImg/',
        products: prodRef,
        attributes: attRef,
        attributesIdValue: attValueRef,
        cart: [],
        wList: []
      }
    },
    firebase: {
      products: prodRef,
      attributes: attRef,
      attributesIdValue: attValueRef
    },
    components: {
      ProductName,
      WishList,
      Cart
    },
    methods:{
      addWL(id){
        console.log(this.products[id].name)
        this.wList.push({name: this.products[id].name})
      },
      addCart(id){
        this.cart.push({name: this.products[id].name})
      },
      removeProduct(id){
        this.products.splice(id, 1)
      }
    }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn{
  height: 25px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin: 0 5px 0 5px;
}
.btnRemove{
  width: 25px;
  border: 1px solid red;
  background-color: #f00;
}
.btnWishList{
  border: 1px solid blue;
  background-color: blue;
}
.btnCart{
  border: 1px solid green;
  background-color: green;
}
</style>
